.feedback-body {
  padding: 20px;

  .app-input,
  .app-list {
    width: 100%;
    display: block;
    margin: 0 0 8px 0;
  }

  textarea {
    height: 100px;
  }

  .invalid {
    border-color: #ff6666;
    background: #ffc4c4;
  }

  input[type="button"] {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 8px 10px;
    background-color: $primary-color;
    color: #fff;
    font-size: 90%;
    cursor: pointer;
    border: none;
    font-size: 12px;

    &:hover {
      background-color: #72aff0;
    }
  }

}