#main-forward-button,
#main-back-button {
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 32px;
  top: 15px;
  color: #FFF;
  font-size: 1.5rem;
}

#main-forward-button {
  right: 300px
}

#main-back-button {
  right: 330px
}

#main-back-button.inactive,
#main-forward-button.inactive {
  opacity: .5
}

.compact-ui #main-back-button,
.compact-ui #main-forward-button {
  display: none;
}

#compact-back-button {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #28E;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
  line-height: 30px;

  svg {
    float: left;
    margin: 7px
  }

}

#compact-back-button-label {
  display: inline-block;
  float: left;
  font-size: 10px
}

.compact-ui #compact-back-button.active {
  display: block;
}
