/* toggles */
.config-toggle {
	width: 30px;
	float: left;
	margin: 10px 5px 0 0;
	position: relative;
}

.config-toggle input {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.config-toggle label {
	display: inline-block;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	cursor: pointer;
	opacity: .5;
	border: solid 1px #eee;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.toggle-on label {
	opacity: 1;
	border-color: #bbb;
}

.config-toggle label:hover {
	border-color: #7491CE;
}

/* VERSES */
#config-toggle-verses label {
	background-image: url(../../css/images/toggles/verses.svg);
}

.toggle-verses-off .verse-num,
.toggle-verses-off .v-num {
	display: none;
}

/* CHAPTERS */
#config-toggle-chapters label {
	background-image: url(../../css/images/toggles/chapters.svg);
}

.toggle-chapters-off .c,
.toggle-chapters-off .chapter-num {
	display: none;
}

/* special cases for verse 1 */
.toggle-chapters-off .v-1 {
	display: inline;
}

.toggle-chapters-off.toggle-verses-off .v-1 {
	display: none;
}

/* always show Psalm headings */
.PS .toggle-chapters-off .c,
.PS .toggle-chapters-off .chapter-num {
	display: block;
}

/* JUSTIFY */
/* Justification really only makes sense if you can also do decent hyphenation.
 * Chrome does not yet (as of v35) support hyphenation, but FF, Safari, and IE
 * all have for some time. The html lang= attribute must be correctly set. */
#config-toggle-justify label {
	background-image: url(../../css/images/toggles/justify.svg);
}

.toggle-justify-on .section {
	text-align: justify;
	-webkit-text-align-last: start;
	-moz-text-align-last: start;
	-o-text-align-last: start;
	text-align-last: start;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* TITLES */
#config-toggle-titles label {
	background-image: url(../../css/images/toggles/titles.svg);
}

.toggle-titles-off .is1,
.toggle-titles-off .is2,
.toggle-titles-off .s {
	display: none;
}

/* WORD OF JESUS */
#config-toggle-wordsofchrist label {
	background-image: url(../../css/images/toggles/christwords.svg);
}

.toggle-wordsofchrist-off .woj,
.toggle-wordsofchrist-off .wj,
.toggle-wordsofchrist-off .woc {
	color: inherit;
}

/* NOTES	*/
#config-toggle-notes label {
	background-image: url(../../css/images/toggles/notes.svg);
}

.toggle-notes-off .note,
.toggle-notes-off .cf {
	display: none;
}

/* MEDIA	*/
#config-toggle-media label {
	background-image: url(../../css/images/toggles/media.svg);
}

.toggle-media-off .image-icon,
.toggle-media-off .map-icon,
.toggle-media-off .video-icon {
	display: none;
}
