#main-config-button {
	background-image: url(../../css/images/gear.svg);
	right: 60px;
}

#main-config-box {
	height: 420px;
}

.config-section {
	margin: 0 0 15px;
	clear: both;
}

.config-header {
	display: block;
	font-weight: normal;
	color: #888;
	border-bottom: solid 1px #888;
	margin: 0 0 5px;
	font-size: 14px;
}

.config-body {
}

.config-button {
	cursor: pointer;
	display: block;
	font-size: 12px;
}

.config-button:hover {
	color: #2a85e8;
}

#font-size-table td {
	height: 40px;
}