
/* font size */
.config-font-size-10 .section {
  font-size: 10px;
}

.config-font-size-12 .section {
  font-size: 12px;
}

.config-font-size-14 .section {
  font-size: 14px;
}

.config-font-size-16 .section {
  font-size: 16px;
}

.config-font-size-18 .section {
  font-size: 18px;
}

.config-font-size-20 .section {
  font-size: 20px;
}

.config-font-size-22 .section {
  font-size: 22px;
}

.config-font-size-24 .section {
  font-size: 24px;
}

.config-font-size-26 .section {
  font-size: 26px;
}

.config-font-size-28 .section {
  font-size: 28px;
}