#app-logo {
	position: absolute;
	top: 0;
	left: 60px;
	height: 60px;
}

#main-menu-button {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background-size: 26px 26px;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 9;
	border: solid 1px transparent;
	-x-border-width: 1px 1px 0 1px;
	background-image: url(../../css/images/menu-gray.svg);
}
#main-menu-button.active {
	background-color: #666;
	-x-border-color: #ccc;
}

#main-menu-dropdown {
	width: 300px;
	-x-height: 280px;
	position: absolute;
	z-index: 8;
	background: #fff;
	top: 59px;
	left: 0px;
	-x-border: solid 1px #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main-menu-heading {
	padding: 5px;
	background: #666;
	color: #fff;
	font-size: 0.8em;
	border-bottom: 1px solid #666;
}

.main-menu-list {
	overflow: hidden;
}

/*
.main-menu-item {
	cursor: pointer;
	margin: 0;
	padding: 8px 5px 8px 55px;
	text-align: left;
	background-size: 25px 25px;
	background-position: 25px center;
	background-repeat: no-repeat;
	font-family: Avenir, Helvetica, Arial;
	font-size: 12px;
	float: left;
	width: 150px;
}


#main-menu-windows-list .main-menu-item {
	width: 75px;
	margin: 0;
	padding: 35px 0 10px 0;
	background-size: 25px 25px;
	background-position: center 8px;
	text-align: center;

}
*/


.main-menu-item {
	cursor: pointer;
	width: 75px;
	margin: 0;
	padding: 35px 0 10px 0;
	background-size: 25px 25px;
	background-position: center 8px;
		background-repeat: no-repeat;
	text-align: center;
	font-family: Avenir, Helvetica, Arial;
	font-size: 12px;
	float: left;


}


.main-menu-item:hover {
	-x-color: #0071ff;
	background-color: #ddd;
}



	.compact-ui #app-logo {
		display: none;
	}

	.compact-ui #main-menu-button {
		height: 40px;
		width: 40px;
		background-size: 30px 16px;
		top: 0px;
	}

	.compact-ui #main-menu-dropdown {
		top: 40px;
	}
