#main-forward-button {
	position: absolute;
	top: 15px;
	right: 300px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-image: url(../../css/images/arrow-right-gray-light.svg);
}

#main-back-button {
	position: absolute;
	top: 15px;
	right: 330px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-image: url(../../css/images/arrow-left-gray-light.svg);	
}

#main-back-button.inactive,
#main-forward-button.inactive  {
	opacity: 0.5;
	cursor: inherit;
}


	.compact-ui #main-back-button,
	.compact-ui #main-forward-button {
		display: none;
	}