/* fonts */
@font-face {
	font-family: 'GentiumPlus';
    src: url('fonts/gentiumplus-r-webfont.eot');
    src: url('fonts/gentiumplus-r-webfont.eot?#iefix') format('eot'),
         url('fonts/gentiumplus-r-webfont.woff') format('woff'),
         url('fonts/gentiumplus-r-webfont.ttf') format('truetype'),
         url('fonts/gentiumplus-r-webfont.svg#webfontVIEluHTz') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'EzraSILRegular';
    src: url('fonts/sileot-webfont.eot');
    src: url('fonts/sileot-webfont.eot?#iefix') format('eot'),
         url('fonts/sileot-webfont.woff') format('woff'),
         url('fonts/sileot-webfont.ttf') format('truetype'),
         url('fonts/sileot-webfont.svg#webfontVIEluHTx') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* book name */
.mt {
	display: block;
	text-align:center;
	font-size:2em;
	margin:1.2em 0;
}




/* main bible verse, text formating */
.section, .chapter											{line-height: 1.8;}
.section p, .section div.p, .chapter div.p					{text-indent:1em;}

.section[lang=he] p, .chapter[lang=heb] p					{ font-family:'SBL Hebrew', EzraSILRegular; font-size: 125%;}
.section[lang=el] p, .chapter[lang=gre] p					{font-family:GentiumPlus; line-height: 1.8;}
.section ins                                                {text-decoration:none;font-style:italic;}
.chapter-num                                                {float:left;font-size:2em;line-height:1;margin:0 .25em .5em 0;}
.chapter-num + p                                            {text-indent: 0 ;}
.chapter[dir=rtl] .chapter-num                              {float:right;margin:0 0 .5em .5em;}
.verse-num                                                  {font-weight:bold;font-size:12px;vertical-align:top;-x-color:#cc6666;color:#aaa;}
.chapter h3 {
	font-weight: bold;
	line-height: 1.4;
	margin: 1.5em 0 0.5em 0;
}


/* notes and cross references */
.note,.cf                                                   {display:inline;}
.note .key,.cf .key                                         {vertical-align:top;font-size:60%;font-weight:bold;color:#3333cc;letter-spacing:1px;cursor:pointer;display:inline;}
.chapter .note .key:hover,.chapter .cf.key:hover            {color:#fff;background:#3333cc;}
.chapter .note .text,.chapter .cf .text                     {display:none;}
.document-footer .cf .key,.document-footer .note .key       {display:inline;vertical-align:top;font-size:8px;font-weight:bold;color:#3333cc;}

/* Gospels red letters */
.woc                                                        {color:#aa0000;}


.v-1,.chapter .note .text,.chapter .cf .text,
#search-results .note,#search-results .cf                   {display:none;}

/* special display for Psalms */
span[class^='verse PSA_']                                    {display:block;}

.search-main .highlight {
	background: #ffff00;
	border-bottom: solid 1px #ffcc00;
}



.heb_bhs {
	dir: rtl;
	font-family: 'Ezra SIL';
}	