



	/* NAV */
	
	.text-navigator {
		/*position: absolute;
		top: 0;
		left: 0;
		z-index:100;
		background: #ccc;
		padding: 1px 0 0 1px;
		font-family: Avenir;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		width: 320px;
		*/
		width: 320px;
		
		position: absolute;
		top: 0;
		left: 0;
		z-index:100;
		background: #fff;
		padding: 0 0 0 0;
		font-family: Avenir;
		
		font-size: 14px;		
		-x-border: solid 1px #ccc;
		box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 30px #eeeeee inset;		
	}
	
	.text-navigator .up-arrow {
		position: absolute;
		top: -10px;
		left: 20px;
		z-index: 102;
		width: 0;
		height: 0;
		display: block;
		border-bottom: 10px solid #444;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}
	.text-navigator .up-arrow-border {
		display: none;
		position: absolute;
		top: -11px;
		left: 20px;
		z-index: 101;
		width: 0;
		height: 0;
		display: block;
		border-bottom: 10px solid #ccc;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}	
	
	.text-navigator .text-navigator-header {
		/*background: #333;
		padding: 8px;
		color: #fff;
		position: relative;
		*/
		padding: 8px;
		color: #fff;
		position: relative;
		-x-border-bottom: solid 1px #ccc;
		background: #444;		
	}
	
	.text-navigator .text-navigator-close {
		cursor: pointer;
		position: absolute;
		top: 8;
		right: 8px;
	}	
	
	.text-navigator .text-navigator-divisions,
	.text-navigator .text-navigator-sections {
		overflow: auto;
		-webkit-overflow-scrolling: touch;	
		padding: 4px;
	}
	
	.text-navigator .text-navigator-division-header {
		clear: both;
		height: 30px;
		padding: 10px 0 0 5px;
		font-weight: bold;
	}
	
	.text-navigator .text-navigator-division {
		float: left;
		width: 38px;
		height: 38px;
		margin: 1px 1px 0 0;
		background: #eee;
		color: #333;
		text-align: center;
		padding: 10px 0 0 0;
		cursor: pointer;
	}
	
	/* penta */
	.text-navigator .divisionid-GN,
	.text-navigator .divisionid-EX,
	.text-navigator .divisionid-LV,
	.text-navigator .divisionid-NU,
	.text-navigator .divisionid-DT	 {
		background: #efe;
	}
	
	.text-navigator .divisionid-JS,
	.text-navigator .divisionid-JG,
	.text-navigator .divisionid-RT,
	.text-navigator .divisionid-S1,
	.text-navigator .divisionid-S2,
	.text-navigator .divisionid-K1,
	.text-navigator .divisionid-K2,
	.text-navigator .divisionid-R1,
	.text-navigator .divisionid-R2,
	.text-navigator .divisionid-ER,
	.text-navigator .divisionid-NH,
	.text-navigator .divisionid-ET {	
		background: #eef;
	}
	
	.text-navigator .divisionid-JB,
	.text-navigator .divisionid-PS,
	.text-navigator .divisionid-PR,
	.text-navigator .divisionid-EC,
	.text-navigator .divisionid-SS {
		background: #fef;
	}
	
	.text-navigator .divisionid-IS,
	.text-navigator .divisionid-JR,
	.text-navigator .divisionid-LM,
	.text-navigator .divisionid-EK,
	.text-navigator .divisionid-DN {
		background: #fee;
	}
	
	.text-navigator .divisionid-HS,
	.text-navigator .divisionid-JL,
	.text-navigator .divisionid-AM,
	.text-navigator .divisionid-OB,
	.text-navigator .divisionid-JH,
	.text-navigator .divisionid-MC,
	.text-navigator .divisionid-NM,
	.text-navigator .divisionid-HK,
	.text-navigator .divisionid-ZP,
	.text-navigator .divisionid-HG,
	.text-navigator .divisionid-ZC,
	.text-navigator .divisionid-ML {
		background: #ffe;
	}
	

	/* gospels */
	.text-navigator .divisionid-MT,
	.text-navigator .divisionid-MK,
	.text-navigator .divisionid-LK,
	.text-navigator .divisionid-JN {
		background: #fee;
	}	
	
	.text-navigator .divisionid-AC {
		background: #fce;
	}			
	
	
	.text-navigator .divisionid-RM,
	.text-navigator .divisionid-C1,
	.text-navigator .divisionid-C2,
	.text-navigator .divisionid-GL,
	.text-navigator .divisionid-EP,
	.text-navigator .divisionid-PP,
	.text-navigator .divisionid-CL,
	.text-navigator .divisionid-H1,
	.text-navigator .divisionid-H2,
	.text-navigator .divisionid-T1,
	.text-navigator .divisionid-T2,
	.text-navigator .divisionid-TT,
	.text-navigator .divisionid-PM {
		background: #eef;	
	}
	
	
	.text-navigator .divisionid-HB,
	.text-navigator .divisionid-JM,
	.text-navigator .divisionid-P1,
	.text-navigator .divisionid-P2,
	.text-navigator .divisionid-J1,
	.text-navigator .divisionid-J2,
	.text-navigator .divisionid-J3,
	.text-navigator .divisionid-JD {
		background: #eff;
	}
	
	.text-navigator .divisionid-RV {
		background: #fef;
	}
	
	
	.text-navigator .text-navigator-section {
		float: left;
		width: 38px;
		height: 38px;
		margin: 1px 1px 0 0;
		background: #eee;
		color: #333;
		text-align: center;
		padding: 10px 0 0 0;
		cursor: pointer;		
	}		
	
	.text-chooser {
		position: absolute;
		top: 0;
		left: 0;
		z-index:100;
		background: #fff;
		padding: 1px 0 0 1px;
		font-family: Avenir;
		
		font-size: 14px;		
		border: solid 1px #ccc;
		box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 30px #eeeeee inset;
	}
	
	.up-arrow {
		position: absolute;
		top: -10px;
		left: 20px;
		z-index: 102;
		width: 0;
		height: 0;
		display: block;
		border-bottom: 10px solid #f8f8f8;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}
	.up-arrow-border {
		position: absolute;
		top: -11px;
		left: 20px;
		z-index: 101;
		width: 0;
		height: 0;
		display: block;
		border-bottom: 10px solid #ccc;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}


	.text-chooser .text-chooser-header {
		padding: 8px;
		color: #fff;
		position: relative;
		border-bottom: solid 1px #ccc;
		background: #f8f8f8;
	
	}

	.text-chooser .text-chooser-main {
		overflow: auto;
		-webkit-overflow-scrolling: touch;	
		padding: 5px;
	}
	
	.text-chooser .text-chooser-close {
		cursor: pointer;
		position: absolute;
		top: 8px;
		right: 8px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		background: url(images/close-button.svg);
		background-size: 15px 30px;
		background-position: 2px 2px;
		background-repeat: no-repeat;
		text-indent: -9999px;
		border: solid 1px transparent;		
	}
	.text-chooser .text-chooser-close:hover {
		border: solid 1px #aaa;
	}
	
	.text-chooser-row-header {
		background: #ededed;
		border-bottom: solid 1px #ccc;
		color: #333;
		font-size: bold;
		height: 2.0em;
		line-height: 2.0em;		
		padding: 0 5px;
	}

	.text-chooser-filter-text {
		font-size: 11px;
		padding: 5px;
		width: 100%;
	}
	
	.text-chooser-row {
		overflow: hidden;
		height: 2.0em;
		line-height: 2.0em;
		width: 320px;
		cursor: pointer;
	}
	.text-chooser-row.filtered {
		background: #ecf4f8;	
	}
	.text-chooser-row:hover {
		background: #d9e8ef;
		
	}
	.text-chooser-row.selected {
		background: #7da2c8;
		color: #fff;
	}		
	
	.text-chooser-row .text-chooser-abbr {

		font-weight: bold;
		width: 60px;
		padding: 0 10px 0;
		text-align: right;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
	}	
	.text-chooser-row .text-chooser-name {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 260px;
		padding: 0 10px 0 0 ; 		
	}
	

	
