/* fonts */
@font-face {
	font-family: GentiumPlus;
	src: local('Gentium Plus'), url(fonts/gentiumplus-r-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: EzraSIL;
	src: local('Ezra SIL'), url(fonts/sileot-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Libertine;
	src: local('Linux Libertine'), url(fonts/LinLibertine_R.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Libertine;
	src: local('Linux Libertine Italic'), url(fonts/LinLibertine_RI.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Libertine;
	src: local('Linux Libertine Bold'), url(fonts/LinLibertine_RB.woff) format('woff');
	font-weight: normal;
	font-weight: bold;
}

@font-face {
	font-family: Libertine;
	src: local('Linux Libertine Bold Italic'), url(fonts/LinLibertine_RBI.woff) format('woff');
	font-weight: bold;
	font-style: italic;
}
