/* IMAGE LIBRARY */

.inline-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 5px;
	opacity: .5;
	background-size: 20px 20px;
}
.image-icon {
	background-image: url(images/pictures.svg);
}
.inline-image-library-thumbs,
.inline-video-library-thumbs {
	margin:0;
	padding:0;
	list-style-type:none;
}
.inline-image-library-thumbs li,
.inline-video-library-thumbs li {

	display:block;
	width:60px;
	height:60px;
	float:left;
	text-align:center;
	margin:0 10px 10px 0;
}
.inline-image-library-thumbs li img,
.inline-video-library-thumbs li img {
	display:inline;
	cursor:pointer;
	max-width:60px;
	max-height:60px;
}

.image-library-thumbs {
	margin:0;
	padding:0;
	list-style-type:none;
}
.image-library-thumbs li {
	display:block;
	width:100px;
	height:100px;
	float:left;
	text-align:center;
	margin:0 10px 10px 0;
}
.image-library-thumbs li img {
	display:inline;
	cursor:pointer;
	max-width:100px;
	max-height:100px;
}

.verse-images {
	clear: both;
	margin: 0 0 2em 0;
	overflow: hidden;
}
.verse-images h2 {
	text-align: left;
}

.big-image {
	position: absolute;
	z-index: 100;	
}

/* Video */
.video-icon {
	background-image: url(images/video.svg);
}




/* Eng 2p Texan */
#config-eng2p th, config-eng2p td {
	text-align: left;
	
}