* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.clear {
  cleaR: both;
}

/* Body */
#main {
  padding: 30px 0 0;
  overflow: hidden;
  font-family: Palatino;
  font-size: 18px;
}

#header {
  display: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

#info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

#info-inner {
  height: 30px;
  margin: 0 20px;
  color: #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  font-family: Helvetica;
  font-size: 10px;
}

#text-nav {
  min-width: 100px;
  float: left;
}

#texts-list {
  min-width: 100px;
  float: right;
  text-align: right;
}

/* NAV */
.text-navigator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ccc;
  padding: 1px 0 0 1px;
  font-family: Avenir;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.text-navigator .text-navigator-header {
  background: #333;
  padding: 8px;
  color: #fff;
}

.text-navigator .text-navigator-division {
  float: left;
  width: 40px;
  height: 40px;
  margin: 1px 1px 0 0;
  background: #eee;
  color: #333;
  text-align: center;
  padding: 10px 0 0;
}

/* penta */
.text-navigator .divisionid-GEN,
.text-navigator .divisionid-EXO,
.text-navigator .divisionid-LEV,
.text-navigator .divisionid-NUM,
.text-navigator .divisionid-DEU {
  background: #efe;
}

.text-navigator .divisionid-JOSH,
.text-navigator .divisionid-JDG,
.text-navigator .divisionid-RUT,
.text-navigator .divisionid-SA1,
.text-navigator .divisionid-SA2,
.text-navigator .divisionid-KI1,
.text-navigator .divisionid-KI2,
.text-navigator .divisionid-CH1,
.text-navigator .divisionid-CH2,
.text-navigator .divisionid-EZR,
.text-navigator .divisionid-NEH,
.text-navigator .divisionid-EST {
  background: #eef;
}

.text-navigator .divisionid-JOB,
.text-navigator .divisionid-PSA,
.text-navigator .divisionid-PRO,
.text-navigator .divisionid-ECC,
.text-navigator .divisionid-SNG {
  background: #fef;
}

.text-navigator .divisionid-ISA,
.text-navigator .divisionid-JER,
.text-navigator .divisionid-LAM,
.text-navigator .divisionid-EZK,
.text-navigator .divisionid-DAN {
  background: #fee;
}

.text-navigator .divisionid-HOS,
.text-navigator .divisionid-JOL,
.text-navigator .divisionid-AMO,
.text-navigator .divisionid-OBA,
.text-navigator .divisionid-JNA,
.text-navigator .divisionid-MIC,
.text-navigator .divisionid-NAH,
.text-navigator .divisionid-HAB,
.text-navigator .divisionid-ZEP,
.text-navigator .divisionid-HAG,
.text-navigator .divisionid-ZEC,
.text-navigator .divisionid-MAL {
  background: #ffe;
}

/* gospels */
.text-navigator .divisionid-MAT,
.text-navigator .divisionid-MRK,
.text-navigator .divisionid-LUK,
.text-navigator .divisionid-JHN {
  background: #fee;
}

.text-navigator .divisionid-ROM,
.text-navigator .divisionid-CO1,
.text-navigator .divisionid-CO2,
.text-navigator .divisionid-GAL,
.text-navigator .divisionid-EPH,
.text-navigator .divisionid-PHP,
.text-navigator .divisionid-COL,
.text-navigator .divisionid-TH1,
.text-navigator .divisionid-TH2,
.text-navigator .divisionid-TI1,
.text-navigator .divisionid-TI2,
.text-navigator .divisionid-TIT,
.text-navigator .divisionid-PHM {
  background: #eef;
}

.text-navigator .divisionid-HEB,
.text-navigator .divisionid-JAM,
.text-navigator .divisionid-PE1,
.text-navigator .divisionid-PE2,
.text-navigator .divisionid-JN1,
.text-navigator .divisionid-JN2,
.text-navigator .divisionid-JN3,
.text-navigator .divisionid-JDE {
  background: #eff;
}

.text-navigator .divisionid-REV {
  background: #fef;
}

.text-navigator .text-navigator-section {
  float: left;
  width: 40px;
  height: 40px;
  margin: 1px 1px 0 0;
  background: #eee;
  color: #333;
  text-align: center;
  padding: 10px 0 0;
}

.text-chooser {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #eee;
  padding: 1px 0 0 1px;
  font-family: Avenir;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.text-chooser-row-header {
  background: #ccc;
  font-size: bold;
  height: 2em;
  line-height: 2em;
}

.text-chooser-row {
  overflow: hidden;
  height: 2em;
  line-height: 2em;
}

.text-chooser-row .text-chooser-abbr {
  font-size: bold;
  width: 60px;
  margin: 0 10px;
  text-align: right;
  display: inline-block;
}

.text-chooser-row .text-chooser-name {
  display: inline-block;
}

.footer-button {
  width: 50px;
  height: 40px;
  display: block;
  background: #333;
  margin: 10px;
}

#move-back {
  float: left;
}

#move-forward {
  float: right;
}

.chapter+.chapter {
  margin-top: 1em;
}

.chapter .cf,
.chapter .note {
  display: none;
}

.pages {
  overflow: hidden;
}

/* size of container */
.pages-container {
  overflow: hidden;
}

/* as wide as all the current content */
.pages-wrapper {
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.pages-transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.page {
  padding: 20px 20px 10px;
  text-align: justify;
  -webkit-backface-visibility: hidden;
}

@media screen and min-width 640px {
  #main {
    font-size: 16px;
  }

  #info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
  }

  #info-inner {
    height: 40px;
    margin: 0 30px;
    color: #ccc;
    border-bottom: solid 1px #ccc;
    padding: 20px 0;
    font-family: Helvetica;
    font-size: 12px;
  }

  .page {
    column-count: 2;
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-gap: 30px;
    -moz-column-gap: 30px;
    /* Firefox */
    -webkit-column-gap: 30px;
    /* Safari and Chrome */
    padding: 30px 30px 15px;
  }
}

.section p {
  margin: 0;
}

p.split-first {
  text-indent: 0;
}

p.split-end {
  text-align-last: justify;
  -webkit-text-align-last: justify;
  -moz-text-align-last: justify;
  padding-bottom: -20px;
}

.book-page-number {
  text-align: center;
}

/* hack for safari/chrome */
/*
p.split-end: after {
content: "";
display: inline-block;
width: 100%;
height: 0;
margin: 0;
padding: 0;
}
 */
