
/* Styles for USFM elements -- div for paragraph and span for character styles */
span.add { font-style: italic }
.b { display: block; margin-left: 12em; text-indent: -2em; line-height: 1.4em }
.bd, .em { font-weight: bold }
.bdit, .bk {font-weight: bold; font-style: italic }
.cd, .conc {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:justify; margin-top: 6pt; color: rgb(0,0,128) }
.cls { display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:right; margin-top: 6pt}
.cov {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:center; margin-top: 6pt}
.d {  font-weight: bold; display: block; line-height: 1.4em; margin-top: 1.4em}
.ebm {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt}
.ebp {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em}
.ebq .ebq1 {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-left: 12em; text-indent: -4em}
.ebq2 {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-left: 8em; text-indent: -4em}
.ebq3 {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-left: 252em; text-indent: -4em}
.ebs, .ebs1 {  font-size: 13pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em}
.ebs2 {  font-size: 13pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em}
.ebs3 {  font-size: 11pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em}
.fm, .notemark {  font-size: 7pt; vertical-align: super; margin-left: 2pt; line-height: 0}
.fp {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-left: 12em}
.fq {  font-style: italic; color: rgb(0,0,128) }
.fqa {  font-style: italic; color: rgb(0,0,128) }
.fr {  color: rgb(0,0,16) }
.ft {  font-weight: normal; color: rgb(0,0,128) }
.fv {  color: maroon }
.f {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-left: 12em; text-indent: -12em }
.glo {  font-size: 13pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em }
.ib, .idx, .ie, .iex, .intro, .ip, .zp {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em }
.ili, .ili1 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: square; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 2em }
.ili2 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: square; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 4em }
.ili3 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: square; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 8em }
.ili4 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: square; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 12em }
.io, .io1 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: none; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 2em }
.io2 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: none; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 4em }
.io3 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: none; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 6em }
.io4 {  font-size: 11pt; color: rgb(0,0,128); display: list-item; list-style-type: none; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 0em; margin-left: 8em }
.im {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left }
.imi {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em; margin-left: 12em; margin-right: 12em }
.imq {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em; margin-left: 12em }
.imt, .imt1 { font-weight: bold;  font-size: 13pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em }
.imt2, .iot { font-weight: bold;  font-size: 13pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em }
.imt3, .imte { font-weight: bold;  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: 2em }
.ior { font-weight: bold }
.ipi, .ipq, .pref, .pub, .pubinfo, .spine {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-left: 2em; text-indent: 2em }
.ipr {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align: right; margin-top: 6pt; margin-left: 2em; text-indent: 2em }
.iq, .iq1 {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: -8em; margin-left: 12em }
.iq2 {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: -4em; margin-left: 12em }
.iq3 {  font-size: 11pt; color: rgb(0,0,128); display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; text-indent: -2em; margin-left: 12em }
.iqt { color: rgb(0,0,255) }
.is, .is1 {  font-size: 13pt; color: rgb(0,0,128); font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt }
.is2 {  font-size: 11pt; color: rgb(0,0,128); font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt }
.is3 {  font-size: 11pt; color: rgb(0,0,128); font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt }
.it { font-style: italic }
.k { font-weight: bold }
.keyword, .keyword1 {  font-size: 13pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-right: 12em; text-indent: -12em }
.keyword2 {  font-size: 13pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-right: 12em; text-indent: -4em }
.keyword3 {  font-size: 13pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:left; margin-top: 6pt; margin-right: 12em; text-indent: -2em }
.li, .li1, .ph, .ph1 { display: list-item; list-style-type: none; text-align:left; text-indent: 2em }
.li2, .ph2, .phi { display: list-item; list-style-type: none; text-align:left; text-indent: 4em }
.li3, .ph3 { display: list-item; list-style-type: none; text-align:left; text-indent: 8em }
.li4, .ph4 { display: list-item; list-style-type: none; text-align:left; text-indent: 12em }
.lit { text-align: right }
.m { text-indent: 0em; margin-top: 0 }
.mi { text-indent: 2em; text-align: left; margin-top: 0 }
.mr {  font-size: 11pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:center; margin-top: 6pt; text-indent: 2em }
.ms, .ms1 { color: rgb(0,0,128); font-weight: bold;  font-size: 13pt; display: block; margin-bottom: 6pt; line-height: 1.4em; margin-top: 6pt }
.ms2 { font-weight: bold;  font-size: 13pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:center; margin-top: 6pt; text-indent: 2em }
.ms3 { font-weight: bold;  font-size: 13pt; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:center; margin-top: 6pt; text-indent: 2em }
.mt, .mt1, .mte, .mte1, h1 { font-weight: bold; font-size: 16pt; text-align: center; line-height: 1.7em }
.mt2, .mte2, h2 { font-weight: bold; font-size: 14pt; text-align: center; line-height: 1.7em }
.mt3, .mte3, h3 { font-weight: bold; font-size: 13pt; text-align: center; line-height: 1.7em }
.nb, .ps { text-indent: 0em; margin-top: 0em }
.k1 { text-indent: 0em; text-align: left; font-weight: bold }
.nd, .sc { font-weight: bold;  font-variant: small-caps }
.ndx, .no { font-style: normal }
.ord { vertical-align: super; font-size: 11pt; text-decoration: underline }
.p, .p1, .pb, .pde, .pdi {  text-indent: 2em; margin-top: 6pt; text-align: left; margin-left: 0em }
.pc { text-indent: 0em; margin-top: 6pt; text-align: center }
.pi, .pi1 { text-indent: 2em; margin-top: 6pt; margin-left: 2em; text-align: justify }
.pi2 { text-indent: 2em; margin-top: 6pt; margin-left: 4em; text-align: justify }
.pi3 { text-indent: 2em; margin-top: 6pt; margin-left: 12em; text-align: justify }
.pm, .pmo, .pmc, .psi { text-indent: 2em; margin-top: 6pt; margin-left: 2em; margin-right: 2em; text-align: justify }
.pmr, .pr { text-indent: 2em; margin-top: 6pt; margin-left: 2em; margin-right: 2em; text-align: right; text-align: justify }
.pn { color: rgb(0,0,8) }
.pro { color: rgb(32,8,8) }
.q, .q1 { text-align:left; margin-top: 0pt; text-indent: -4em; margin-left: 4em }
.q2 { text-align:left; margin-top: 0pt; text-indent: -2em; margin-left: 4em }
.q3 { text-align:left; margin-top: 0pt; text-indent: -2em; margin-left: 6em }
.qa {  font-weight: bold; display: block; margin-bottom: 6pt; line-height: 1.4em; text-align: center; margin-top: 6pt; text-indent: 0em }
.qac { font-weight: bold }
.qc { text-align: center; margin-top: 0pt; text-indent: 0em; margin-left: 0em }
.qm, .qm1 { text-align:left; margin-top: 0pt; text-indent: -8em; margin-left: 12em }
.qm2 { text-align:left; margin-top: 0pt; text-indent: -12em; margin-left: 12em }
.qm3 { text-align:left; margin-top: 0pt; text-indent: -4em; margin-left: 12em }
.qr { text-align:right; margin-top: 0pt; text-indent: 0em }
.qs { text-align:right; }
.qt { font-variant: small-caps }
.r, .sr {  font-size: 13pt; font-style: italic; text-align: center; margin-bottom: 6pt; color: rgb(0,0,128) }
.rr, .rq, .rq {  font-size: 11pt; font-style: italic; color: rgb(0,0,128); text-align: right }
.s, .s1 {  font-style: bold; color: rgb(0,0,128); text-align: center; margin-top: 8pt }
.s2 {  font-size: 13pt; color: rgb(0,0,128); font-style: bold; text-align: center }
.s3 {  font-size: 13pt; color: rgb(0,0,128); text-align: center }
.sig { font-style: italic }
.sls { font-style: italic }
.sp { text-align: left;  font-size: 13pt; font-style: italic }
.w, .wg, .wh, .wr, .zc { font-style: normal }
.wj { color: rgb(192,0,0) }
.xk {  font-weight: bold; color: rgb(0,0,128) }
.xq {  color: rgb(0,0,128) }
.xt, .xo, .notebackref {  color: rgb(0,0,128) }

.maintitle        { display: block; text-align: center;  font-size: 18pt; font-weight: bold; margin-top: 10pt; margin-bottom: 10pt }
.maintitle1       { display: block; text-align: center;  font-size: 18pt; font-weight: bold; margin-top: 2pt }
.maintitle2       { display: block; text-align: center; font-size: 13pt; font-weight: bold; font-style: italic; margin-bottom: 2pt }
.copyright, .fine { display: block; text-align: center;  font-size: 6pt; color: #808080; margin-bottom: 2pt }
.toc {display: block;  font-size: 13pt; text-align: left; text-indent: -1em; margin-left: 1em }
.toc1 {display: block;  font-size: 13pt; text-align: left; text-indent: -1em; margin-left: 2em }
.toc2 {display: block;  font-size: 11pt; text-align: left; text-indent: -1em; margin-left: 3em }

.sectionheading, .chapterlabel   { display: block; text-align: center;  font-size: 13pt; font-weight: bold; margin-top: 12pt }
.sectionsubheading   { display: block; text-align: center;  font-weight: bold; font-style: italic; margin-top: 6pt; margin-left: 12pt } /* JohnT */
.sectionsubsubheading   { display: block; text-align: center;  font-size: 13pt; font-weight: bold; font-style: normal; margin-top: 6pt; margin-left: 12pt } /* JohnT */
.parallel		 {  display: block; text-align: center; font-style: italic; margin-top: 0pt; font-size:9pt } /* JohnT */
.parallelSub		 {  display: block; text-align: center; font-style: italic; margin-top: 0pt; margin-left: 12pt; font-size:9pt } /* JohnT */


/* JohnT: based on a recommendation in http://www.xs4all.nl/~sbpoley/webmatters/superscripts.html,  to make line spacing
as nearly as possible uniform despite superscripts, especially in FF, we set block elements that contain them to a line-height
of 1.4 em, and the actual superscript elements have a line-height of zero.*/
.navButtons {  font-size: 13pt; font-weight: bold; display: block; margin-bottom: 6pt; line-height: 52pt; text-align: center; clear: both; border-radius: 5px }
.navButtons a { padding: 3px; background-color: #036; border-bottom: 1px solid #eee; border-radius: 5px; }
.navButtons a:visited { color: #ffff66; text-decoration: none; border-radius: 5px; }
.navButtons a:link { color: #ffffff; text-decoration: none; border-radius: 5px; }
.navButtons a:hover { background-color: #0520ff; color: #fff; border-radius: 5px; }
.navChapters {  font-size: 10pt; display: block; margin-bottom: 10pt; text-align: center; line-height: 28pt; border-radius: 5px; }
.navChapters a { padding: 3px; background-color: #036; border-bottom: 1px solid #eee; border-radius: 5px; }
.navChapters a:visited { color: #ffff66; text-decoration: none; border-radius: 5px; }
.navChapters a:link { color: #ffffff; text-decoration: none; border-radius: 5px; }
.navChapters a:hover { background-color: #0520ff; color: #fff; border-radius: 5px; }
.prose            { display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:justify; margin-top: 6pt}
.proseblock       { display: block; line-height: 1.4em; text-align:justify}
.proseblockindent { display: block; margin-left: 1cm; line-height: 1.4em; text-align:justify }
.poetry           { display: block; margin-left: 1.5cm; text-indent: -0.5cm; line-height: 1.4em }
.embeddedPoetry   { display: block; margin-left: 2.0cm; text-indent: -0.5cm; line-height: 1.4em; margin-right: 1.0cm; text-align:justify }
.deepPoetry       { display: block; margin-left: 2.5cm; text-indent: -0.5cm; line-height: 1.4em; margin-right: 1.0cm; text-align:justify }
.list             { margin-left: 1cm; text-indent: -0.5cm; line-height: 1.4em }
.quoteSource		 { display:block; text-align:right; font-style:italic}
.introListItem    { margin-left: 1cm; text-indent: -0.5cm; line-height: 1.4em }
.pageFooter       { display: block; margin-bottom: 6pt; text-align: left; margin-top: 6pt; padding: 3px;  font-size: 11pt}
.text            {margin-left: 0;margin-right:0}
.bookList {  font-size: 11pt; line-height: 8pt; float: left; margin: 0px; padding: 3px; width: 120px; background: rgb(223,255,255) }
.main { /* margin-left: 132px; padding: 4px;*/ background: rgb(255,255,255) }
.mainindex { margin-left: 132px; padding: 4px; background: rgb(240,255,244) }
.bookLine  {  font-size: 11pt; line-height: 12pt; display: block; text-align:left; width: 120px; border-radius: 5px; }
.bookLine a { display: block; padding: 3px; background-color: #036; border-bottom: 1px solid #eee; border-radius: 5px; }
.bookLine a:visited { color: #ffff66; text-decoration: none; border-radius: 5px; }
.bookLine a:link { color: #ffffff; text-decoration: none; border-radius: 5px; }
.bookLine a:hover { background-color: #0520ff; color: #fff; border-radius: 5px; }
.dcbookLine  {  font-size: 11pt; line-height: 12pt; display: block; text-align:left; width: 120px; border-radius: 5px; border-radius: 5px; }
.dcbookLine a { display: block; padding: 3px; background-color: #404040; border-bottom: 1px solid #eee; border-radius: 5px; }
.dcbookLine a:visited { color: #ffff66; text-decoration: none; border-radius: 5px; }
.dcbookLine a:link { color: #ffffff; text-decoration: none; border-radius: 5px; }
.dcbookLine a:hover { background-color: #ababab; color: #fff; border-radius: 5px; }

p.footnote, p.crossRefNote { display: block;   margin-top: 3pt; font-size: 13pt; text-align: left; margin-left: 0em }

.smallcaps       { font-size: smaller }
.crmark			 {  font-size: 11pt; vertical-align: super; margin-left: 2pt; line-height: 0}
.overlap        {} /* Where chapter number splits paragraph, used for part of paragraph in a different chapter. */
.figure {float:right;text-indent:0em;padding:5px;border:2px solid blue;margin:5px; }
.figcopr {font-size: 7pt; color: rgb(180,180,200); line-height: 7pt}
.figCaption {font-size: 10pt; color: rgb(0,0,128); line-height: 9pt}
.figref {font-size: 10pt; color: rgb(0,0,128); font-weight: bold}
 
select, option { font-size: 13pt; line-height: 1.4em}

