* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  font-family: Avenir, Helvetica, Arial;
}

.clear {
  clear: both;
}

input:focus {
  outline: none;
}

/* MAIN APP */
.windows-header {
  background-color: #333;
  height: 60px;
  padding-right: 10px;
}

.windows-main {
}

.windows-footer {
  height: 0;
}

/* WINDOWS */
.window {
  float: left;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  border-right: solid 1px #eee;
}

.window .window-header {
  margin: 0;
  padding: 10px;
  background: #f8f8f8;
  border-bottom: solid 1px #ccc;
  height: 50px;
  z-index: 1;
  font-family: Avenir, Helvetica, Arial;
  font-size: 12px;
}

.window-title {
  display: block;
  font-size: 18px;
  margin: 5px 0 5px 10px;
}

.window .window-header .header-input,
.window .window-header .header-list {
  float: left;
  border: solid 1px #ddd;
  padding: 7px 6px 6px 10px;
  background: #fff;
  margin: 0 5px 0 0;
  color: #919191;
  -webkit-appearance: none;
  height: 30px;
}

.window .window-header .header-input {
  padding-top: 5px;
}

.window .window-header .header-input:hover,
.window .window-header .header-list:hover {
  border-color: #ccc;
}

.window .window-header .header-input {
  min-width: 140px;
}

.header-icon {
  margin: 3px;
  width: 24px;
  height: 24px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
}

.window .header-icon,
.text-chooser-header .header-icon {
  float: left;
}

.header-icon:hover {
  border: 1px solid #ccc;
  border-radius: 20px;
}

.info-button {
  background-image: url(images/info.svg);
}

.audio-button {
  background-image: url(images/audio-ear.svg);
}

.window .window-header .header-list {
  padding-right: 20px;
  cursor: pointer;
  border-radius: 0;
  background-image: url(images/down-arrow.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.window .window-header .header-button {
  padding: 5px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #0071ff;
  border: 0;
  font-size: 12px;
}

.window .window-close-button {
  -x-display: none;
  font-family: arial;
  font-size: 15px;
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #666;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background: url(images/close-button.svg) top center no-repeat;
  background-position: 0 0;
}

.one-window .window .window-close-button {
  display: none;
}

.window .window-close-button:hover {
  background-color: #d5998b;
  background-position: 0 -20px;
  color: #fff;
}

@media only screen and (max-width:460px) {
  .windows-main .window {
    display: none;
  }

  .windows-main .window:first-child {
    display: block;
  }

  .one-window .window .window-header .header-input {
    width: 120px;
    min-width: 120px;
    border: 0;
    background: none;
  }

  .one-window .window .window-header .header-list {
    float: right;
    border: 0;
    background-color: transparent;
  }

  .one-window .window .window-header {
    height: 40px;
    padding: 6px;
  }
}

.window .window-main {
  margin: 0;
  padding: 20px;
  background: #fff;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  height: 70px;
  overflow: auto;
}

.window .window-footer {
  font: 10px Helvetica;
  height: 30px;
  padding: 8px;
  background: #f8f8f8;
  border-top: solid 1px #ccc;
}

/* header */



.window-overlay {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 300px;
  height: 300px;
  padding: 25px 25px 0;
  background: #fff;
  border: solid 1px #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: none;
  z-index: 50;
  overflow: auto;
}





#about {
}

#about h1 {
  font-size: 18pt;
  margin-top: 0;
}

#about a {
  color: #2a85e8;
}

.loading-indicator {
  min-height: 70px;
  background-image: url(build/images/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-overlay {
  background: rgba(0,0,0,0.3);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
}

.blur {
  transition: all .25s ease-in;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
