* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #FFF;
	font-family: Avenir, Helvetica, Arial;
}

.clear {
	clear: both;
}

input:focus {
	outline: none;
}

/* reused images */
.close-button {
	font-family: arial;
	font-size: 15px;
	position: absolute;
	z-index: 10;
	top: 15px;
	right: 10px;
	cursor: pointer;
	color: #666;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	text-align: center;
	background: url(images/close-button.svg) top center no-repeat;
	background-position: 0 0;
}
.close-button:hover {
	background-color: #d5998b;
	background-position: 0 -20px;
	color: #fff;
}


/* MAIN APP */
.windows-header {
	background-color: #333;
	height: 60px;
	padding-right: 10px;
}

.windows-main {
}

.windows-footer {
	height: 0;
}

/* WINDOWS */
.window {
	float: left;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
	border-right: solid 1px #eee;
}

.window-tab {	
	display: none;	
	position: absolute;
	top: 9px;
	right: 0;
	width: 82px;
	height: 21px;
	background: transparent;
	border-style: solid;
	border-color: transparent transparent #999 transparent;
	border-width: 0 11px 21px 11px;
	z-index: 1;
	cursor: pointer;
}

.window-tab-inner {
	width: 80px;
	height: 20px;	
	margin-left: -10px;
	margin-top: 1px;
	background: transparent;
	border-style: solid;
	border-color: transparent transparent #ccc transparent;
	border-width: 0 10px 20px 10px;	
}

.window-tab.active { 
	z-index: 2;
	border-color: transparent transparent transparent transparent;
}
.window-tab.active .window-tab-inner { 
	border-color: transparent transparent #f8f8f8 transparent;
}

.theme-dark .window-tab-label {	
	color: #fff;
}
.theme-dark .window-tab-inner {
	border-color: transparent transparent #444 transparent;
}
.theme-dark .window-tab.active .window-tab-inner {
	border-color-bottom: transparent transparent #222 transparent;
}

.window-tab-label {
	position: absolute;
	display: block;
	background-size: 15px 15px;
	background-repeat: no-repeat;	
	top: 2px;
	left: 0;
	height: 20px;
	width: 65px;
	padding-left: 20px;
	padding-top: 1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 11px;
}

.window .window-header {
	margin: 0;
	padding: 10px;
	background: #f8f8f8;
	border-bottom: solid 1px #ccc;
	height: 50px;
	z-index: 1;
	font-family: Avenir, Helvetica, Arial;
	font-size: 12px;
	white-space: nowrap;	
	vertical-align: middle;
}

.window-title {
	display: block;
	font-size: 18px;
	margin: 5px 0 5px 10px;
}

.app-input,
.app-list {
	border: solid 1px #ddd;
	padding: 7px 6px 6px 10px;
	background: #fff;
	margin: 0 5px 0 0;
	color: #919191;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 30px;
	border-radius: 0;
	display: inline-block;	
	vertical-align: top;
}

.app-input:hover,
.app-list:hover {
	border-color: #ccc;
}

.app-input {
	padding-top: 5px;
	min-width: 140px;	
}

.app-list {
	padding-right: 20px;
	cursor: pointer;
	border-radius: 0;
	background-image: url(images/down-arrow.svg);
	background-position: right center;
	background-repeat: no-repeat;
}

.header-icon {
	margin: 3px;
	width: 24px;
	height: 24px;
	background-size: 20px 20px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
}

.window .header-icon,
.text-chooser-header .header-icon {
	-x-float: left;
}

.header-icon:hover {
	border: 1px solid #ccc;
	border-radius: 20px;
}

.info-button {
	background-image: url(images/info.svg);
}

.audio-button {
	background-image: url(images/audio-ear.svg);
}


.window .window-header .header-button {
	padding: 5px;
	background: transparent;
	border-radius: 5px;
	cursor: pointer;
	color: #0071ff;
	border: 0;
	font-size: 12px;
	display: inline-block;
}

.window .close-button {
}

.one-window .window .close-button {
	display: none;
}

.window .close-button:hover {
}


	.compact-ui .window-tab {
		display: block;
	}
	
	
	.compact-ui .windows-main .window {
		float: none;		
		display: block;
		z-index: 1;	
		position: absolute;
		top: 30px;			
	}
	.compact-ui .windows-main .window.active {
		z-index: 2;
	}	
	.compact-ui .window .window-header .app-input {
		width: 90px;
		-x-min-width: 120px;
		padding: 5px;
		height: 25px;

	}

	.compact-ui .window .window-header .app-list {
		padding: 5px  20px 5px 5px;
		height: 25px;
	}

	.compact-ui .window .window-header {
		height: 40px;
		padding: 7px;
		padding-left: 40px;
	}
	.compact-ui .window .close-button {
		top: 10px; 	
	}
	 
	 /*		 
	 .window .window-header {
		 padding-left: 50px;
	 }
	 */
	 
	 .compact-ui .windows-header {
		 height: 30px;
	 }
		 
	 .compact-ui .header-icon {
		 margin-top: 1px;
	 }
	 
	 .compact-ui .app-mobile-fullscreen .windows-header {
		 height: 50px;		 
	 }
	 
	.compact-ui .app-mobile-fullscreen  .windows-main .window {
		top: 50px;	 
	}
	 
	.compact-ui  .app-mobile-fullscreen .window-tab {
		top: 29px;	 
	}
	
	.compact-ui .app-mobile-fullscreen #main-menu-button {
		top: 50px;
	}
	
	.compact-ui .app-mobile-fullscreen #main-menu-dropdown {
		top: 90px;
	}
	 
	 
	/* for single app, no need for tabs */
	/*
		 .one-window .window-tab {
		 display: none;
	 } 
	 .one-window .windows-header { 
		 height: 0;
     }
	 .one-window .window-header {
		 padding-left: 50px;		 
	 }
	 .one-window .windows-main .window {
		top: 0;	 
     }
     .one-window .window .close-button {
		display: none; 	
	}
	*/
}

.window .window-main {
	margin: 0;
	padding: 20px;
	background: #fff;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
	height: 70px;
	overflow: auto;
}

.window .window-footer {
	font: 10px Helvetica;
	height: 30px;
	padding: 8px;
	background: #f8f8f8;
	border-top: solid 1px #ccc;
}

/* header */
.window-overlay {
	position: absolute;
	top: 50px;
	right: 10px;
	width: 300px;
	height: 300px;
	padding: 25px 25px 0;
	background: #fff;
	border: solid 1px #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: none;
	z-index: 50;
	overflow: auto;
}

#about {
}

#about h1 {
	font-size: 18pt;
	margin-top: 0;
}

#about a {
	color: #2a85e8;
}

.loading-indicator {
	min-height: 70px;
	background-image: url(images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

.modal-overlay {
	background: rgba(0,0,0,0.3);
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: none;
}

.blur {
	transition: all .25s ease-in;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
