.compact-ui .SearchWindow .search-text {
  width: 100px;
}

/* search */
.search-main {
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.search-header .search-text {
  width: 100px;
  min-width: inherit;
}

.search-wrapper {
  padding: 10px;

  table {
    border-spacing: 0;
    border-collapse: collapse;

    td, th {
      padding: 3px;
    }

    th {
      text-align: left;
      vertical-align: top;
      white-space: nowrap;
      font-size: .8em;
    }

    td .note,
    td .cf {
      display: none;
    }

    tr:hover {
      cursor: pointer;
      background-color: #dbe9fa;
    }

  }

}

.search-usage {
  margin: 0 0 20px;
  font-size: 12px;
}

.search-lemma-info .lemma-word {
  margin: 0;
}

.search-visual {
  height: 42px;
  border-bottom: solid 1px #999;
  padding: 0 5px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.search-visual-label {
  position: absolute;
  font-size: 10px;
  z-index: 1000;
  min-width: 50px;
  height: 20px;
  display: none;
  white-space: nowrap;
}

.search-result-book-bar {
  height: 40px;
  display: block;
  float: left;
  cursor: pointer;

  span {
    height: 40px;
    display: block;
    background: #ccc;
    border-right: solid 1px #fff;
  }

}

.search-division-chooser {
  position: absolute;
  display: none;
  background: #fff;
  font-size: 80%;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 30px #EEE inset;

  .search-division-header {
    color: #fff;
    background: #444;
    padding: 8px;
    font-weight: bold;
  }

  .search-division-main {
    padding: 10px;
    max-height: 250px;
    overflow: auto;
  }

  .division-list {
    float: left;
    width: 50%;
  }

  .division-header {
    display: block;
    font-weight: bold;
  }

  .division-name {
    display: block;
    white-space: nowrap;
  }

  .division-list-items {
    padding: 0 0 0 5px;
  }

  &[dir=rtl] .division-list-items {
    padding: 0 5px 0 0;
  }

}

.search-result-book-bar {
  .divisionid-GN,
  .divisionid-EX,
  .divisionid-LV,
  .divisionid-NU,
  .divisionid-DT {
    background: #9bd79b
  }

  .divisionid-JS,
  .divisionid-JG,
  .divisionid-RT,
  .divisionid-S1,
  .divisionid-S2,
  .divisionid-K1,
  .divisionid-K2,
  .divisionid-R1,
  .divisionid-R2,
  .divisionid-ER,
  .divisionid-NH,
  .divisionid-ET {
    background: #8c8cca
  }

  .divisionid-JB,
  .divisionid-PS,
  .divisionid-PR,
  .divisionid-EC,
  .divisionid-SS, /* out of order in English! */
  .divisionid-LM {
    background: #c580c5
  }

  .divisionid-IS,
  .divisionid-JR,
  .divisionid-EK,
  .divisionid-DN {
    background: #d38c8c
  }

  .divisionid-HS,
  .divisionid-JL,
  .divisionid-AM,
  .divisionid-OB,
  .divisionid-JH,
  .divisionid-MC,
  .divisionid-NM,
  .divisionid-HK,
  .divisionid-ZP,
  .divisionid-HG,
  .divisionid-ZC,
  .divisionid-ML {
    background: #d1d16a
  }

  .divisionid-MT,
  .divisionid-MK,
  .divisionid-LK,
  .divisionid-JN {
    background: #ffa2a2
  }

  .divisionid-AC {
    background: #c476aa
  }

  .divisionid-RM,
  .divisionid-C1,
  .divisionid-C2,
  .divisionid-GL,
  .divisionid-EP,
  .divisionid-PP,
  .divisionid-CL,
  .divisionid-H1,
  .divisionid-H2,
  .divisionid-T1,
  .divisionid-T2,
  .divisionid-TT,
  .divisionid-PM {
    background: #9c9ce1
  }

  .divisionid-HB,
  .divisionid-JM,
  .divisionid-P1,
  .divisionid-P2,
  .divisionid-J1,
  .divisionid-J2,
  .divisionid-J3,
  .divisionid-JD {
    background: #8cc9c9
  }

  .divisionid-RV {
    background: #9575a1
  }
}


.highlight {
  background: #FF9;
}

.search-progress-bar {
  border: solid 1px #ccc;
  height: 1.5em;
  width: 100%;
  position: relative;
  margin: 0 0 2em;
}

.search-progress-bar-inner {
  width: 0;
  background: $primary-color;
  height: 100%;
}

.search-progress-bar-label {
  display: block;
  position: absolute;
  height: 1.5em;
  line-height: 1.5em;
  font-size: .7em;
  top: 0;
  padding: 3px;
  color: #fff;
  text-align: right;
}

.search-progress-bar-label-outside {
  color: #333;
}
