.comparison-main {
  overflow: auto;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

.comparison-table {
  margin: 15px;

  .comparison-table td,
  .comparison-table th {
    vertical-align: top;
  }

  td {
    padding: 0 2px 5px 2px;
  }

  ins {
    color: #0071ff;
    text-decoration: none;
  }

  del {
    color: #999999;
    text-decoration: line-through;
  }
}
