.up-arrow {
	position: absolute;
	top: -10px;
	left: 20px;
	z-index: 102;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #444;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.up-arrow-border {
	position: absolute;
	top: -11px;
	left: 20px;
	z-index: 101;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #ccc;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

/* NAV */
.text-navigator {
	width: 320px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	padding: 0;
	font-family: Avenir, Helvetica, Arial;
	font-size: 14px;
	-x-border: solid 1px #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 30px #EEE inset;
}

.text-navigator .up-arrow {
	position: absolute;
	top: -10px;
	left: 20px;
	z-index: 102;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #444;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.text-navigator .up-arrow-border {
	display: none;
	position: absolute;
	top: -11px;
	left: 20px;
	z-index: 101;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #ccc;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.text-navigator .text-navigator-header {
/*background: #333;
	padding: 8px;
	color: #fff;
	position: relative;
	 */
	padding: 8px;
	color: #fff;
	position: relative;
	-x-border-bottom: solid 1px #ccc;
	background: #444;
}

.text-navigator .text-navigator-close {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
}

.text-navigator .text-navigator-divisions,
.text-navigator .text-navigator-sections {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 4px;
}

.text-navigator .text-navigator-sections {
	padding: 4px 1px;
}

.text-navigator .text-navigator-division-header {
	clear: both;
	height: 30px;
	padding: 10px 0 0 5px;
	font-weight: bold;
}

.text-navigator .text-navigator-division {
	float: left;
	width: 38px;
	height: 38px;
	margin: 1px 1px 0 0;
	-border: solid 1px transparent;
	background: #f7f7f7;
	color: #333;
	text-align: center;
	padding: 10px 0 0;
	cursor: pointer;
	border-style: solid;
	border-width: 0 0 0 10px;

}


.text-navigator .text-navigator-division.selected {
	float: none;
	width: auto;
	height: auto;
	clear: both;
	text-align: left;
	margin: 1px 0;
	padding-left: 4px;
}
.text-navigator .text-navigator-division.selected > span  {
	font-weight: bold;
}

.text-navigator .text-navigator-division:hover > span {
	-border-bottom-color: #ccc;
	font-weight: bold;
}

.text-navigator .text-navigator-section:hover {
	-outline: solid 1px #2a85e8;
}

.text-navigator-divisions-full .text-navigator-division {
	float: none;
	display: block;
	text-align: left;
	width: auto;
	min-height: 30px;
	height: auto;
	overflow: auto;
	padding: 5px 0 0 10px;
}
.text-navigator-divisions-full  .text-navigator-division.selected {
	padding: 5px 0 0 10px;
}

.text-navigator-divisions-full[dir=rtl] .text-navigator-division {
	text-align: right;
	border-width: 0 5px 0 0;
	padding: 5px 10px 0 0;
}

.text-navigator-fullname {
	position: absolute;
	z-index: 110;
	border-bottom-color: #ccc;
	height: 38px;
	margin: 1px 1px 0 0;
	border: solid 1px #ccc;
	background: #eee;
	color: #333;
	text-align: left;
	padding: 10px 10px 0;
	cursor: pointer;
	pointer-events: none;
	font-size: 14px;
}


.text-navigator .division-section-penta {
	border-color: #bfb;
}
.text-navigator .division-section-penta.selected {
	background: #efe;
}

.text-navigator .division-section-hist {
	border-color: #bbf;
}
.text-navigator .division-section-hist.selected {
	background: #eef;
}

.text-navigator .division-section-poet {
	border-color: #fbf;
}
.text-navigator .division-section-poet.selected {
	background: #fef;
}

.text-navigator .division-section-majorp {
	border-color: #fbb;
}
.text-navigator .division-section-majorp.selected {
	background: #fee;
}

.text-navigator .division-section-minorp {
	border-color: #ffb;
}
.text-navigator .division-section-minorp.selected {
	background: #ffe;
}

/* gospels */
.text-navigator .division-section-gospel {
	border-color: #fbb;
}
.text-navigator .division-section-gospel.selected {
	background: #fee;
}

.text-navigator .division-section-acts {
	border-color: #f4b;
}
.text-navigator .division-section-acts.selected {
	background: #fef;
}

.text-navigator .division-section-paul {
	border-color: #bbf;
}
.text-navigator .division-section-paul.selected {
	background: #eef;
}

.text-navigator .division-section-general {
	border-color: #bff;
}
.text-navigator .division-section-general.selected {
	background: #eff;
}

.text-navigator .division-section-rev {
	border-color: #fbf;
}
.text-navigator .division-section-rev.selected {
	background: #fef;
}

.text-navigator .text-navigator-section {
	float: left;
	width: 36px;
	height: 36px;
	margin: 1px 1px 0 0;
	-x-background: rgba(210,210,210,0.5);
	color: #333;
	text-align: center;
	padding: 10px 0 0;
	cursor: pointer;
}

.text-navigator .text-navigator-section:hover,
.text-navigator .text-navigator-section.selected {

	font-weight: bold;
}

.text-navigator-divisions[dir=rtl] .text-navigator-section {
	float: right;
}
