.text-chooser {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	font-family: Avenir, Helvetica, Arial;
	width: 320px;
	font-size: 14px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 30px #EEE inset;
}

.text-chooser .text-chooser-header {
	padding: 8px;
	color: #fff;
	position: relative;
	background: #444;
	overflow: hidden;
}

.text-chooser .text-chooser-filter-text {
	-x-background: #888;
	background: #5379A9;
	border: solid 1px #666;
	color: #fff;
	padding: 4px;
	font-size: 11px;
	width: 304px;
}

/*
OLD BUTTON
.text-chooser-more {
background: #2a85e8;
color: #fff;
margin: 20px;
text-align: center;
cursor: pointer;
padding: 10px;
}
 */
.text-chooser .text-chooser-more-toggle {
	margin: 0 0 0 10px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding: 4px 4px 4px 18px;
	width: 70px;
	display: none;
/* default */
	background-color: #88c0d7;
	background-image: url(../../css/images/more.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.text-chooser .text-chooser-more-toggle:hover {
	background-color: #2a85e8;
}

.text-chooser .show-all {
	background-image: url(../../css/images/less.svg);
	background-position-y: 4px;
}

.show-more .text-chooser-filter-text {
	width: 224px;
}

.show-more .text-chooser-more-toggle {
	display: inline-block;
}

.text-chooser .text-chooser-main {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border: solid 1px #ccc;
}

.text-chooser .text-chooser-close {
	top: 8px;
	right: 8px;
	background-color: none;
	border: solid 1px transparent;
}

.text-chooser .text-chooser-close:hover {
	background-color: none;
	border: solid 1px #aaa;
}

.text-chooser table {
	border-collapse: collapse;
	width: 100%;
}

.text-chooser-row-header {
	background: #ededed;
	border-bottom: solid 1px #ccc;
	color: #333;
	font-size: bold;
	height: 2em;
	line-height: 2em;
	padding: 0 5px;
}

.text-chooser-row-header td {
	padding-left: 10px;
}

.text-chooser-row {
	height: 2em;
	line-height: 2em;
	cursor: pointer;
}

.text-chooser-row.filtered {
	background: #ecf4f8;
}

.text-chooser-row:hover {
	background: #d9e8ef;
}

.text-chooser-row.selected {
	background: #7da2c8;
	color: #fff;
}

.text-chooser-row .text-chooser-abbr {
	font-weight: bold;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 2em;
	white-space: nowrap;
	vertical-align: top;
	line-height: 1.2;
	padding: 8px 10px 0 8px;
}


.text-chooser-row .text-chooser-image img {
	height: 20px;
	width: 40px;
	display: block;
	margin: 0 0 0 10px;
}

.text-chooser-row .text-chooser-name {
	padding: 0;
	height: 2em;
	width: 80%;
}

.text-chooser-row .text-chooser-name span {
	display: block;
	line-height: 1.2;
	margin: 8px 10px;
	max-height: 2.2em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-chooser-row .text-chooser-audio,
.text-chooser-row .text-chooser-lemma,
.text-chooser-row .text-chooser-abs,
.text-chooser-row .text-chooser-fcbh {
	width: 18px;
	text-align: top;
}
.text-chooser-row .text-chooser-audio span,
.text-chooser-row .text-chooser-lemma span,
.text-chooser-row .text-chooser-provider-abs span,
.text-chooser-row .text-chooser-provider-fcbh span {
	background-size: 16px 16px;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 18px;
	height: 18px;
}
.text-chooser-row .text-chooser-audio span {
	background-image:  url(../../css/images/audio-ear.svg);
}
.text-chooser-row .text-chooser-lemma span {
	background-image:  url(../../css/images/morphology-gray-dark.svg);
	background-size: 16px 16px;

}
.text-chooser-row .text-chooser-provider-abs span {
	background-image:  url(../../css/images/provider-abs.svg);
	background-size: 16px 16px;
}
.text-chooser-row .text-chooser-provider-fcbh span {
	background-image:  url(../../css/images/provider-fcbh.svg);
	background-size: 14px 14px;

}


/* countries */
.text-chooser-row-header.country td,
.text-chooser-row-header.collapsible-language td {
	position: relative;
	background-image: url(../../css/images/arrow-down.svg);
	background-position: right center;
	background-repeat: no-repeat;
}

.text-chooser-row-header.country img {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 25px;
	height: 15px;
}
.text-chooser-row-header.country span.name {
	padding-left: 25px;
}

/* collapse */
table.collapsible .text-chooser-row-header {
	cursor: pointer;
}
table.collapsible .text-chooser-row-header:hover {
	background-color: #dae4e7;
}
table.collapsible .text-chooser-row-header.collapsed td {
	background-image: url(../../css/images/arrow-right.svg);
}


table.collapsible .text-chooser-row.collapsed {
	display: none;
}

.text-chooser-row-divider {
	-x-background: #5379A9;
	background: #777777;
	color: #fff;
}
.text-chooser-row-divider span.name{
	padding: 3px 10px;
}

table.collapsible .text-chooser-row-divider.collapsed {
	display: none;
}


/* language : country switcher */
.text-chooser-selector {
	padding: 0 0 5px;
	color: #fff;
	overflow: hidden;
	text-align: center;

}

.text-chooser-selector span {
	width: 33%;
	border: solid 1px #999;
	display: inline-block;
	cursor: pointer;
	padding: 3px 0;
	font-size: 0.8em;
	text-align: left;
	padding-left: 28px;
	background-size: 12px 12px;
	background-position: 8px center;
	background-repeat: no-repeat;
}
.text-chooser-selector span.text-chooser-default {
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	background-image: url(../../css/images/openbook-white.svg);
	background-position-y: 4px;
}
.text-chooser-selector span.text-chooser-languages {
	border-right-width: 0;
	background-image: url(../../css/images/languages-gray-light.svg);
}
.text-chooser-selector span.text-chooser-countries {
	border-radius: 0 4px 4px 0;
	background-image: url(../../css/images/earth-white.svg);
}
.text-chooser-selector span.selected {
	background-color: #fff;
	color: #999;
}


.text-chooser-selector span.text-chooser-default.selected {
	background-image: url(../../css/images/openbook-gray-dark.svg);
}
.text-chooser-selector span.text-chooser-languages.selected {
	background-image: url(../../css/images/languages-gray-dark.svg);
}
.text-chooser-selector span.text-chooser-countries.selected {
	background-image: url(../../css/images/earth-gray-dark.svg);
}
