/*** COLORS ***/
:root {
	--app-header-bg-color: #333;
    --window-header-bg-color: #f8f8f8;
    --window-bg-color: #fff;
    --window-outline-color: #ddd;
	--window-header-outline-color: #ccc;
	--input-text-color: #919191;
	--input-bg-color: #fff;
	--input-outline-color: #ddd;
}