
/*** RESET ***/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body * {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
} 
html,
body {
	margin: 0;
	padding: 0;
}
body {
	background: #FFF;
    font-family: Avenir, Helvetica, Arial;
    height: 100vh;
}

/*** CORE ***/
#sofia-root {
    height: 100vh;
    width: 100vw;    
}
.sofia-container {
    height: 100%;
    width: 100%;
    background: orange;
    display: flex;
    flex-direction: column;
}
@supports (display: grid) {
    .sofia-container {
        display: grid;
        grid-template-rows: 60px 1fr;
    }
}
    .sofia-header {
        height: 60px;        
        background: var(--app-header-bg-color);
        padding: 15px;
        text-align: right;
    }
    .sofia-main {
        background: black;      
        display: flex;
        flex: 2;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: hidden; /* needed so the windows have a fixed height */
    }
    @supports (display: grid) {
        .sofia-main {
            background: var(--window-outline-color);
            justify-content: start;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
            grid-auto-flow: column;
            overflow-x: auto;
            column-gap: 1px;
        }
    }
      
        .close-container {
            position: absolute;
        }

    .sofia-footer {
        display: none;
    }