


/* WINDOWS */
.sofia-window {
    background: var(--window-bg-color);
    border-right: solid 1px var(--window-outline-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

body.dragging, body.dragging * {
    cursor: move;
}

.sofia-window.dragover {
    outline: 2px solid #d9e8ef;
    z-index: 5;
}
.sofia-window.dragover .sofia-window-header {
    background:#d9e8ef;
}


    .sofia-window-header {
        background: var(--window-header-bg-color);
        border-bottom: solid 1px var(--window-header-outline-color);        
        height: 50px;
        flex: 0 0 auto;
        padding: 10px;
        display: flex;
    }
    .sofia-window-header.dragging {
        background: rgb(115, 115, 173);
    }
    .sofia-window-header.invisible {
        display: none;
    }    
    .sofia-window-body {
        background: var(--window-body-bg-color);
        height: 100%;
        flex: 1 1 100%;
        display: flex;
    }
    .sofia-window-close-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 40px;
        z-index: 10;
    }
    .sofia-window-close-button {
        font-family: arial;
        font-size: 15px;
        position: absolute;
        z-index: 10;
        top: 15px;
        right: 10px;
        cursor: pointer;
        color: #666;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        text-align: center; 
        font-size: 18px;
    }
    .sofia-window-close-button::after {
        content: '×';    
    }
    .sofia-window-close-button:hover {
        background-color: #d5998b;    
        color: #fff;
    }

.sofia-window-tab {
    display: none;
}


/* OTHER */
.sofia-header-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
}
.sofia-header-button.add::after {
    content: "+";
}

/* UI */
.sofia-window-header input,
.sofia-window-header select {
    border: solid 1px var(--input-outline-color);
    padding: 7px 6px 6px 10px;
    background: var(--input-bg-color);
    margin: 0 5px 0 0;
    color: var(--input-text-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    border-radius: 0;
    display: inline-block;
    vertical-align: top;
}
.sofia-window-header select {
    padding-right: 20px;
    max-width: 100px;
    cursor: pointer;
    border-radius: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08c3ZnIGlkPSJVbnRpdGxlZC1QYWdlJTIwMSIgdmlld0JveD0iMCAwIDEwIDQiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgdmVyc2lvbj0iMS4xIg0geG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSINIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTBweCIgaGVpZ2h0PSI0cHgiDT4NIDxnIGlkPSJMYXllciUyMDEiPg0gPHBhdGggZD0iTSAwIDAgTCA2IDAgTCAzIDQgWiIgZmlsbD0iI2NjY2NjYyIvPg0gPC9nPg08L3N2Zz4=");
    background-position: right center;
    background-repeat: no-repeat;
}