#add-DeafBibleWindow, .DeafBibleWindow-tab {
	background-image: url(../../css/images/sign-language.svg);
}


.deafbible .mt {
	margin-top: 1.5em;
}

.deafbible .s {
	margin-top: 0.5em;
}

.deafbible video{
	margin: 0 0 2em 0;
	width: 100%;
	height: auto;
	background: #333;
}

.deafbible .inline-icon {
	display: none;
}



.deafbible .v {
	display: block;
}

.deafbible .selected-verse {
	background: none;
}


.deafbible .selected-verse {
	background: none;
	color: #d9e8ef;
}
.deafbible .selected-verse video {
	outline: 5px solid #d9e8ef;
}

.deaf-video-header {
	width: 100%;
	-x-background: #333;;
}

.deaf-video-header input[type=button] {
	margin: 2% 0 2% 2%;
	width: 32%;
	display: inline-block;
	height: 58px;
	-webkit-appearance: none;
	--background-color:#c5dcf2;
	background-color: #fff;
	border: solid 1px #ccc;
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: right;
	padding: 10px;
	background-position-x: 10px;
}
.deaf-video-header input[type=button]:first-child {
	margin-left: 0;
}

.deaf-video-header input[type=button]:hover {
	background-color:#e2effa;
}
.deaf-video-header input[type=button].active {
	background-color: #2a85e8;
	border-color: #666;
	color: #fff;
	border: 0;
}


.deaf-video-header input[type=button].deaf-intro {
	background-image: url(//assets.bible.is/images/deaf/icon_door_intro.png);
}

.deaf-video-header input[type=button].deaf-story {
	background-image: url(//assets.bible.is/images/deaf/icon_door_story.png);
}

.deaf-video-header input[type=button].deaf-lessons {
	background-image: url(//assets.bible.is/images/deaf/icon_door_more_info.png);
}


.deaf-video-header input[type=button].deaf-intro.active {
	background-image: url(//assets.bible.is/images/deaf/icon_door_intro_active.png);
}

.deaf-video-header input[type=button].deaf-story.active {
	background-image: url(//assets.bible.is/images/deaf/icon_door_story_active.png);
}

.deaf-video-header input[type=button].deaf-lessons.active {
	background-image: url(//assets.bible.is/images/deaf/icon_door_more_info_active.png);
}
